@keyframes sliddown {
    0%{
        height:0px;
    }
    100%{
        height:100%;
    }
}
ul.tree{
    padding:10px 0 0 10px;
    height:calc(100% - 13px) !important;
    overflow: auto;
    margin-right:-18px;
    font-size:13px;
    margin-left:8px;
}
ul.tree>i{
    background:url(images/tree/root.png) no-repeat 2px 50% !important;
    padding-left:20px !important;
    margin-left:-9px !important;
}

ul.tree li>ul{
    padding-left: 5px;
    margin-left:9px;
    transition: height  0.3s;
    height:0px;
    overflow: hidden;
}
ul.tree li>i.expand{
    background-image:url(images/tree/open.png);
}
ul.tree li{
    position:relative;
    margin-left:10px;
    padding:6px 10px 3px 0;
    margin-top:2px;
}
ul.tree li::before{
    content:'';
    border-left: 1px dashed #f7f7f340;
    padding-left: 10px;
    position:absolute;
    height:100%;
    left:-10px;
    top:0px;
}
ul.tree li:last-child::before{
    height:15px;
}

ul.tree i{
    cursor:pointer;
    border-radius: 0 7px 7px 0;
    background:url(images/tree/parent.png) no-repeat 0;
    min-width:30px;
    padding-left:20px;
    padding-right:10px;
    background-size:18px;
    vertical-align: bottom;
    font-size:13px;
    margin-left:7px;
}
ul.tree i:only-child{
    background-image:url(images/tree/node.png);
}

ul.tree i:hover,ul.tree i.active{
    box-shadow: 0 0 2px #fbf310;
    color:#fff;
}
ul.tree i.active{
    background-color: #5e634a47;
}
ul.tree li>i::after{
    content: '';
    width: 15px;
    border-bottom: 1px dashed #f7f7f340;
    position:absolute;
    left:-10px;
    top:17px;
    vertical-align: middle;
}
ul.tree.checkbox li>i{
    background-position-x:20px;
    padding-left:0px;
}

ul.tree.checkbox li>i::before{
    content:'';
    border:1px solid #dedede;
    width:13px;
    height:13px;
    display: inline-block;
    margin-right:25px;
    vertical-align: middle;
    border-radius:3px;
    line-height: 14px;
    color: #9cf19c;
}
ul.tree.checkbox li>i[uncheck]{
    padding-left:20px;
    background-position-x:0px;
}
ul.tree.checkbox li>i[uncheck]::before{
    content:none;
}
ul.tree.checkbox li>i.checked::before{
    content:'\2713';
}

ul.tree li>ul::before{
    content: '\2629';
    height: 11px;
    width: 11px;
    position: absolute;
    top: 11px;
    border:1px solid #f7f7f340;
    border-radius:1px;
    left: -15px;
    line-height: 11px;
    font-size: small;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
ul.tree li>i.expand~ul::before{
    content: '\2013';
}

